.tabsContainer {
  scroll-behavior: smooth;
  scrollbar-width: none;

  z-index: 20;

  overflow-x: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  width: 100%;
  margin-inline: auto;

  background: var(--color-bg-tabs);
  border-block: var(--border-1) solid var(--color-border-subtle);

  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}

.tabsContainer::-webkit-scrollbar {
  display: none;
}
