.phoneFrameContainer {
  position: relative;

  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 330px;
  height: 430px;
  margin: 0 auto;
}

.phoneFrameWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.phoneEdgeHighlight {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.phoneBodyDark {
  position: absolute;
  z-index: 2;
  top: 4px;
  left: 0;

  width: 100%;
  height: 100%;
}

.topAntennaRight {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 61px;
}

.leftAntennaSeparator {
  position: absolute;
  z-index: 5;
  top: 65px;
  left: 0;
}

.rightAntennaSeparator {
  position: absolute;
  z-index: 5;
  top: 65px;
  right: 0;
}

.phoneFrame {
  position: absolute;
  z-index: 4;
  top: 4px;
  left: 0;

  width: 100%;
  height: 100%;
}

.camera {
  position: absolute;
  z-index: 20;
  top: 23px;
  right: 33%;
}

.earpieceSpeaker {
  position: absolute;
  z-index: 20;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
}

.screenArea {
  position: absolute;
  z-index: 3;
  top: 8px;
  left: 12px;

  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
}

.screenContent {
  overflow: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  box-sizing: border-box;
  width: 100%;
  height: 100%;

  font-size: var(--fs-16);
  color: #fff;
  text-align: center;
}
