.phoneFrameContainer {
  position: relative;

  overflow: visible;

  /* Responsive width ve height - mobilde küçük, masaüstünde 330x430 */
  aspect-ratio: 330 / 430;
  width: clamp(200px, 65vw, 300px);
  height: auto;
  margin: 0 auto;
}

.phoneFrameWrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.phoneEdgeHighlight {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
}

.phoneBodyDark {
  position: absolute;
  z-index: 2;
  top: 0.9%;
  left: 0;

  width: 100%;
  height: 100%;
}

.topAntennaRight {
  position: absolute;
  z-index: 5;
  top: 0;
  right: 18.5%;
}

.leftAntennaSeparator {
  position: absolute;
  z-index: 5;
  top: 13%;
  left: 0;
}

.rightAntennaSeparator {
  position: absolute;
  z-index: 5;
  top: 13%;
  right: 0;
}

.phoneFrame {
  position: absolute;
  z-index: 4;
  top: 0.9%;
  left: 0;

  width: 100%;
  height: 100%;
}

.camera {
  position: absolute;
  z-index: 20;
  top: 3.2%;
  right: 33%;
}

.earpieceSpeaker {
  position: absolute;
  z-index: 20;
  top: 3.7%;
  left: 50%;
  transform: translateX(-50%);
}

.screenArea {
  position: absolute;
  z-index: 4;
  inset: 2.3% 2.4%;

  /* overflow: hidden; */
}
