.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;

  background-color: var(--color-bg-layout);
}

.contentContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: var(--color-bg-container);
}
