.main {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  min-height: 100vh;

  background-color: var(--color-bg-layout);
}

.contentContainer {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  width: 100%;
  padding-top: var(--space-4);

  background-color: var(--color-bg-container);
}

.frameAndHeroContentWrapper {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}

@media (width >= 1024px) {
  .frameAndHeroContentWrapper {
    flex-direction: row-reverse;
    padding-top: var(--space-9);
    padding-inline: var(--space-8);
  }

  .phoneFrameWrapper {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  }

  .heroContentWrapper {
    display: flex;
    flex: 1;
    align-items: center;
  }
}
